@import "tailwindcss";

@theme {
  --color-card: White;
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #3b82f6;
  --color-bgLight: #f8fafc;
  --color-plainText: #64748B;
  --color-hover: #2563EB;
  --font-style-main: 'Inter';
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
}

html, body, #root {
  height: 100%;
}

body{
    background-color: #F8FAFC;
}

@layer components {
  .card{
    @apply relative bg-card top-[10%] shadow-md w-[90%] h-fit mt-5 mx-auto rounded-lg px-5 py-2.5
  }

  .title{
    @apply relative text-primary font-bold text-3xl mb-5 w-fit after:content-[''] after:absolute after:bg-accent after:h-[2.5px] after:left-0 after:bottom-0
  }
}